/* CSS declarations go here */
body, html {
  height: 100%;
  width:100%;
}

.p-heading
{
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 30px;

}
.form{
	margin-top: 50px;
	position:absolute;
	right: 200px;
	left: 300px;
	width: 600px;
	padding: 50px;
	height: 500px;
	vertical-align: center;
	align : center;
	background: url('../images/content.png');
	color: black;
	-moz-border-radius: 30px;
 border-radius: 15px;
    padding:10px;

}
.form-only
{
	opacity: 0.3;
}
.q-topic
 {
 	margin-top: 10px;
 	margin-left: 30px;
   background: white;
   box-shadow: 2px;
   border: 2px;
   height: 50px;
   width :500px;
     -moz-border-radius: 30px;
 border-radius: 15px;
    border:solid 3px #A4A4A4; 
    padding:10px;
 }

 .q-descrip{
   background: white;
   margin-left: 30px;
   box-shadow: 2px;
   border: 2px;
   height: 200px;
   width :500px;
     -moz-border-radius: 30px;
 border-radius: 15px;
    border:solid 3px #A4A4A4; 
    padding:10px;
 }

.tester {
display:none;
}

.container {
padding-left:auto;
margin-right: auto;
margin-left: auto;
width:auto;
}

.maker {
 background: url('../images/content.png');
 border: none;
 padding: 0;
}

.row {
position:relative;
left:100px;
}

.navbar-inner, footer {
  border: none;
  padding: 15px 0;
  background: url('../images/header-footer.png');
}
.navbar .brand-bootbus {
	font-size: 30px;
	cursor: pointer;
	text-shadow: none;
	color: white;
  font-weight: bold;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: white;
	border-bottom-color: white;
}
.navbar .nav > li > a {
	text-shadow: none;
	color: white;
	font-size: 17px;
  font-weight: bold;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
	color: white !important;
	background: #2E3436 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background: #2E3436;
}

.hero-unit {
	background: none;
	padding: 0 60px 0 60px;
	margin: 0;
}
.hero-unit h1 {
  margin: 10px 0 10px 0;
}
 