/* CSS declarations go here */
body, html {
  height: 100%;
  width:100%;

}



@font-face {
    font-family: Reenie Beanie; 
    src:url("../fonts/ReenieBeanie.ttf");
}


/*hobby part*/
.pos {
position: absolute;
bottom:10px;
right:600px;
}

.suscribebutton {
position: absolute;
bottom:500px;
right:600px; 
background-color:#E6E6E6;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:3px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#333029;
    font-family:arial;
    font-size:17px;
    padding:5px 18px;
    text-decoration:none;
    text-shadow:1px 4px 0px #ffffff;
}

.newposter {
position: absolute;
bottom:400px;
right:600px; 
}
.newvideoposter {
position: absolute;
bottom:300px;
right:575px; 
text-align: center;
}


.p-heading
{
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
    color: #3B170B;

}
.form{
	margin-top: 50px;
	position:absolute;
	right: 200px;
	left: 300px;
	width: 600px;
	padding: 50px;
	height: 500px;
	vertical-align: center;
	align : center;
	background: url('../images/texture1.jpg');
	color: black;
	-moz-border-radius: 30px;
 border-radius: 15px;
    padding:10px;

}


.videoform{
  margin-top: 50px;
  position:absolute;
  right: 200px;
  left: 300px;
  width: 600px;
  padding: 50px;
  height: 400px;
  vertical-align: center;
  align : center;
  background: url('../images/texture1.jpg');
  color: black;
  -moz-border-radius: 30px;
 border-radius: 15px;
    padding:10px;

}




.form-only
{
	opacity: 0.3;
}
.q-topic
 {
 	margin-top: 10px;
 	margin-left: 30px;
   background: white;
   box-shadow: 2px;
   border: 2px;
   height: 50px;
   width :500px;
     -moz-border-radius: 30px;
 border-radius: 15px;
    border:solid 3px #3B170B; 
    padding:10px;
 }

 .q-descrip{
   background: white;
   margin-left: 30px;
   box-shadow: 2px;
   border: 2px;
   height: 200px;
   width :500px;
     -moz-border-radius: 30px;
 border-radius: 15px;
    border:solid 3px #3B170B; 
    padding:10px;
 }

.tester {
display:none;
}



.posts {
  font-family:arial,sans-serif;
  font-size:100%;
  margin:0em;
  background-color:#160700;
  color:#fff;

}


.videoposts {
  font-family:arial,sans-serif;
  font-size:100%;
  margin:0em;
  background-color:#160700;
  color:#fff;

}

.videoposts h2,p{
  font-size:100%;
  font-weight:normal;
}

.videoposts ul li h2{
    font-family:"Reenie Beanie",arial,sans-serif;
     font-size:250%;
}


.videoposts ul,li{
  list-style:none;
}
.videoposts ul{
  overflow:hidden;
  padding:3em;
}

.videoposts ul li{
  margin:1em;
  float:left;
}
.videoposts ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.videoposts ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}


.videoposts ul li a{
  text-decoration:none;
  color:#000;
  background:white;
  display:block;
  height:14em;
  width:13em;
  padding:1em;
  margin-right: 3em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}




.posts h2,p{
  font-size:100%;
  font-weight:normal;
}

.posts ul li h2{
    font-family:"Reenie Beanie",arial,sans-serif;
     font-size:250%;
}


.posts ul,li{
  list-style:none;
}
.posts ul{
  overflow:hidden;
  padding:3em;
}

.posts ul li{
  margin:1em;
  float:left;
}
.posts ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.posts ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}


.posts ul li:nth-child(even) a{
  -o-transform:rotate(6deg);
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  position:relative;
  top:5px;
}

.posts ul li:nth-child(3n) a{
  -o-transform:rotate(-4deg);
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  position:relative;
  top:-5px;
}
.posts ul li:nth-child(5n) a{
  -o-transform:rotate(10deg);
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  position:relative;
  top:-10px;
}

.posts ul li:nth-child(odd) a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  position:relative;
  z-index:5;
}

.posts ul li:nth-child(even) a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  position:relative;
  z-index:5;
}





.posts ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.posts ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.posts ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:14em;
  width:13em;
  padding:1em;
  margin-right: 3em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}








.container {
padding-left:auto;
margin-right: auto;
margin-left: auto;
width:auto;

}

.maker {
 background: url('../images/content.png');
 border: none;
 padding: 0;
}

.row {
position:relative;
left:100px;
}

.navbar-inner, footer {
  border: none;
  padding: 15px 0;
  background: url('../images/header-footer.png');
}
.navbar .brand-bootbus {
	font-size: 30px;
	cursor: pointer;
	text-shadow: none;
	color: white;
  font-weight: bold;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: white;
	border-bottom-color: white;
}
.navbar .nav > li > a {
	text-shadow: none;
	color: white;
	font-size: 17px;
  font-weight: bold;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
	color: white !important;
	background: #2E3436 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background: #2E3436;
}

.hero-unit {
	background: none;
	padding: 0 60px 0 60px;
	margin: 0;
}
.hero-unit h1 {
  margin: 10px 0 10px 0;
}
 
 